@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  scrollbar-width: none;
}

body::-webkit-scrollbar {
  display: none;
}

.fadeInSplittedText {
  transform: translateY(100%);
}

.swiper {
  overflow: visible !important;
}

.swiper-slide {
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
  width: auto !important;
}
