@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .h-100-vh {
    height: 100vh;
    height: 100dvh;
  }

  .h-250-vh {
    height: 250vh;
    height: 250dvh;
  }
}

@import url('../lib/styles/resets.css');
@import url('../lib/styles/lenis.css');
