@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  scrollbar-width: none;
}

body::-webkit-scrollbar {
  display: none;
}

.contact-form-scrollbar::-webkit-scrollbar {
  width: 16px;
}

.contact-form-scrollbar::-webkit-scrollbar-track {
  background: #030303;
}

.contact-form-scrollbar::-webkit-scrollbar-thumb {
  background-color: #7a7a7a;
  border-radius: 20px;
  border: 6px solid #030303;
}

.fadeInSplittedText {
  transform: translateY(100%);
}

.swiper {
  overflow: visible !important;
}

.swiper-slide {
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
  width: auto !important;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
  box-shadow: 0 0 0 1000px #030303 inset;
  -webkit-text-fill-color: #f8f8f8;
}

@layer utilities {
  .min-h-screen-compatible {
    min-height: 100vh;
    min-height: 100dvh;
  }
  .h-screen-compatible {
    height: 100vh;
    height: 100dvh;
  }

  .text-balance {
    text-wrap: balance;
  }
}
