.skills-carousel .swiper {
  overflow: visible !important;
}

.skills-carousel .swiper-slide {
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
  width: auto !important;
}
